{% extends 'base.html' %} 

{% block content %}

<h1>My Favorites</h1>

<!-- <div><button><a href="/add">New Post</a></button></div> -->


<a href="/buy">

<div class="row align-items-start">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 16rem;">
            <a href="/buy" style="text-decoration: none;">
                <img src="https://64.media.tumblr.com/f1059781dfb0e2e6c451782cd28f8af4/tumblr_pfofmwODGQ1thgobq_1280.jpg" class="card-img-top text-info" alt="image">
                <div class="card-body">
                  <h5 id="title" class="card-title text-dark">Sunset views</h5>
                </a>
                  <p class="card-text">Sunset by their pier in California.</p>
                  <a href="/like" id="like-btn-fav" class="btn btn-outline-info btn-sm">⭐️</a>
                  <a href="https://www.minted.com/product/art/MIN-SJS-GOA/sorbet-sea?art_group=art_print&border=full_bleed&frame=white&framing=framed&material=standard&quantity=1&size=8x10&utm_content=18_fa_nco20&utm_medium=sem&utm_source=google&utm_sub=pla&utm_campaign=G_S_Art_Fine_PLA_USA_SmartShopping&utm_custom_a=FineArt&utm_custom_b=feed&utm_custom_c=shopping&utm_int=b&utm_keyword&utm_device=a&AudId=pla-949879342967&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9EB8GJfzVnlK6nd9yE-zBVOi19xDXnoAQL8k3POkk8FeT0ysQpWSsIaAqklEALw_wcB&color=A&shape=" id="shop-btn" class="btn btn-outline-info btn-sm" target="_blank">🛍</a>
                </div>
              </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem;">
            <a href="/buy" style="text-decoration: none;">
                <img src="https://64.media.tumblr.com/80d652f3a4b1ba9720004f725a31cc0b/tumblr_oldlnnhHD71vecsuao1_1280.png" class="card-img-top text-info" alt="image">
                <div class="card-body">
                  <h5 class="card-title text-dark">Rose blooms</h5>
                </a>
                  <p class="card-text">In full bloom for the season.</p>
                  <a href="/like" id="like-btn-fav" class="btn btn-outline-info btn-sm">⭐️</a>
                  <a href="https://www.heirloomroses.com/edentm.html" id="shop-btn" class="btn btn-outline-info btn-sm" target="_blank">🛍</a>
                </div>
              </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem;">
            <a href="/buy" style="text-decoration: none;">
                <img src="https://i.pinimg.com/originals/9f/67/9a/9f679ae88c12540649c90cb9caa038c0.jpg" class="card-img-top text-info" alt="image">
                <div class="card-body">
                  <h5 class="card-title text-dark">Pink clouds</h5>
                </a>
                  <p class="card-text">Already twilight time of the day.</p>
                  <a href="/like" id="like-btn-fav" class="btn btn-outline-info btn-sm">⭐️</a>
                  <a href="https://www.litfad.com/simple-cloud-wall-mural-decal-for-girls-bedroom-pastel-pink-personalized-size-available-s-261160.html?language=en&currency=USD&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FzMXB9iFOtO-Hnnn2PUz770nXFj9APPzO1g7NdYiyDyuu5oLYLigQaAqgDEALw_wcB" id="shop-btn" class="btn btn-outline-info btn-sm" target="_blank">🛍</a>
                </div>
              </div>
      </div>
    </div>
    </div>
  </div>
</a>

<!-- <img src="https://i.pinimg.com/originals/9f/67/9a/9f679ae88c12540649c90cb9caa038c0.jpg" class="rounded float-start">
<img src="https://media.istockphoto.com/photos/yes-you-can-motivational-inspirational-message-on-sand-picture-id1003163388?k=6&m=1003163388&s=612x612&w=0&h=z4jYdu1MXwhpEWB8DH1OB7FUlQLsgoI8H8dik4ZqGEw=" class="rounded float-start">
<img src="https://images.pexels.com/photos/1680140/pexels-photo-1680140.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded float-start">
<img src="https://www.gardeningknowhow.com/wp-content/uploads/2020/11/primroses-in-flower-pot.jpg" class="rounded float-start">
<img src="https://media2.giphy.com/media/unQ3IJU2RG7DO/giphy.gif" class="rounded float-start">
 -->


{% endblock %}