{% extends 'base.html' %} 

{% block content %}

<h1>My Favorites</h1>

<div class="container">
  {% for favorite in user.favorites %}
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="{{ favorite.photo_url }}" style="text-decoration: none;" target="_blank">
              <img src="{{ favorite.photo_url }}" class="card-img-top text-info" alt="image">
            </a>
              <h5 id="card-title" class="card-title text-dark">{{ favorite.title }}</h5>
              <p class="card-text">{{ favorite.caption }}</p>
              <p class="card-time"><small>By {{ favorite.user.full_name }} on {{ favorite.friendly_date }}</small></p>
              <button id="like-btn" class="btn btn-outline-danger" formmethod="POST" formaction="/posts/{{ favorite.id }}/favorite">⭐️</button>
              <button id="shop-btn"><a href='{{ favorite.purchase_url }}' target="_blank" style="text-decoration: none;">🛍</a></button> 
            </div>
          </div>
      {% else %}
      <div class="col-12">No posts yet.</div>
      {% endfor %}
</div>
</div>


{% endblock %}