{% extends 'base.html' %}

{% block content %}

<h1>Picslink Feed</h1>
<div class="container">
  {% for post in posts %}
  <form style="display:inline" action="/posts/{{ post.id }}/delete">
    {{form.hidden_tag()}}
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="{{ post.photo_url }}" style="text-decoration: none;" target="_blank">
              <img src="{{ post.photo_url }}" class="card-img-top text-info" alt="image">
            </a>
              <h5 id="card-title" class="card-title text-dark">{{ post.title }}</h5>
              <p class="card-text">{{ post.caption }}</p>
              <p class="card-time"><small>By {{ post.user.full_name }} on {{ post.friendly_date }}</small></p>
                <!-- <button id="like-btn" class="btn btn-outline-danger" formmethod="POST" formaction="/posts/{{ post.id }}/favorite">⭐️</button> -->
              <button id="shop-btn-public"><a href='{{ post.purchase_url }}' target="_blank" style="text-decoration: none;">🛍</a></button>
              <!-- <a href='{{ post.purchase_url }}' target="_blank" style="text-decoration: none;"><button id="shop-btn-public">🛍</button></a> -->
            </form>
            </div>
          </div>
      {% else %}
      <div class="col-12">No posts yet.</div>
      {% endfor %}
</div>
</div>

{% endblock %}

