{% extends 'base.html' %}

{% block content %}

<h1>Picslink Feed</h1>
<div class="container">
  {% for post in posts %}
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="/buy" style="text-decoration: none;">
              <img src="{{ post.photo_url }}" class="card-img-top text-info" alt="image">
              <h5 id="title" class="card-title text-dark">{{ post.title }}</h5>
            </a>
              <p class="card-text">{{ post.caption }}</p>
              <!-- <p>{{ post.photo_url }}</p> -->
              <p class="card-time"><small>By {{ post.user.full_name }} on {{ post.friendly_date }}</small></p>
              <button id="like-btn"><a href="/posts/{{ post.id }}/favorite" style="text-decoration: none;">⭐️</a></button>
              <button id="shop-btn"><a href='{{ post.purchase_url }}' target="_blank" style="text-decoration: none;">🛍</a></button>
            </div>
          </div>
      {% else %}
      <div class="col-12">No posts yet.</div>
      {% endfor %}
</div>
</div>

{% endblock %}
