<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Picslink {% block title %}{% endblock %}
  </title>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Krub:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>

  {% if 'user_id' not in session %}
    <div class="navbar">
      <div class="navbar-container">
        <div class="navbar-brand"><a class="text-dark" href="/">Picslink</a></div>
      </div>
    </div>

    {% endif %}

  {% if 'user_id' in session %}
    <div class="navbar">
      <div class="navbar-container">
        <!-- <div class="navbar-brand"><a class="text-white" href="/">Picslink</a></div> -->
        <div class="navbar-brand"><a class="text-dark" href="/feed">Feed</a></div>
        <div class="navbar-brand"><a class="text-dark" href="/myposts">My Posts</a></div>
        <div class="navbar-brand"><a class="text-dark" href="/favorites">My Favorites</a></div>
        <div class="navbar-brand"><a class="text-dark" href="/add">New Post</a></div>
        <div class="navbar-brand"><a class="text-dark" href="/logout">Logout</a></div>
        {% for post in posts %}
        {{ post.user.full_name }}
        {% endfor %}
      </div>
    </div>
  {% endif %}

    <div class="container" style="margin-top: 2em">
      {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning">{{ msg }}</div>
      {% endfor %}  
      
      
      {% block content %}
      {% endblock %}
    </div>
    <script src="/like-button/app.js"></script>
  </body>
</html>
