<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <input type="file" id="file">
    <img src="https://media2.giphy.com/media/WYEWpk4lRPDq0/giphy.gif" id="img">
    <p id="url"></p>
    <script>
        const file=document.getElementById("file")
        const img=document.getElementById("img")
        const url=document.getElementById("url")
        file.addEventListener("change",ev=>{
            const formdata= new FormData()
            formdata.append("image", ev.target.files[0])
            fetch("https://api.imgur.com/3/image",{
                method:"post",
                headers:{
                    Authorization: "Client-ID 9b315a3d4a73278"
                }
                , body: formdata
            }).then(data=>data.json()).then(data => {
                img.src=data.data.link
                url.innerText=data.data.link
            })
        })
    </script>
</body>
</html>
