{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
  <h1 class="display-4">Picslink</h1>
</div>

<div class="d-flex justify-content-center">
  <h3 class="home-title">An image-sharing community with paths to purchasing options.</h3>
</div>


  <!-- {% if 'user_id' not in session %}
  <div class="d-flex justify-content-center">
    <button id="register-btn"><a href="/register" style="text-decoration: none;">Register</a></button>
    <button id="register-btn"><a href="/login" style="text-decoration: none;">Login</a></button>
  </div>
  {% endif %} -->


  <div class="container">
    {% for post in posts %}
          <div class="card" style="width: 15rem;">
            <div class="card-body">
              <a href="{{ post.photo_url }}" style="text-decoration: none;" target="_blank">
                <img src="{{ post.photo_url }}" class="card-img-top text-info" alt="image">
              </a>
                <h5 id="title" class="card-title text-dark">{{ post.title }}</h5>
                <p class="card-text">{{ post.caption }}</p>
                <p class="card-time"><small>By {{ post.user.username }} on {{ post.friendly_date }}</small></p>
                <button id="shop-btn-public"><a href='{{ post.purchase_url }}' target="_blank" style="text-decoration: none;">🛍</a></button>
              </div>
            </div>
        {% else %}
        <div class="col-12">No posts yet.</div>
        {% endfor %}
  </div>
  
  </div>


  

{% endblock %}
