{% extends 'base.html' %} 

{% block content %}

<h1 class="display-4">My Posts</h1>

<div><button><a href="/add">New Post</a></button></div>

<img src="https://64.media.tumblr.com/f1059781dfb0e2e6c451782cd28f8af4/tumblr_pfofmwODGQ1thgobq_1280.jpg" class="rounded float-start">
<img src="https://media0.giphy.com/media/DZR39sOOQWP8A7UoVs/200.gif" class="rounded float-start">
<img src="https://i.pinimg.com/originals/9f/67/9a/9f679ae88c12540649c90cb9caa038c0.jpg" class="rounded float-start">
<img src="https://images.pexels.com/photos/1680140/pexels-photo-1680140.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded float-start">



{% endblock %} 