{% extends 'base.html' %}
{% block content %}


  <div class="container">
    {% for post in posts %}
    {% for post in favorites %}
          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <a href="/buy" style="text-decoration: none;">
                <img src="{{ post.photo_url }}" class="card-img-top text-info" alt="image">
                <h5 id="title" class="card-title text-dark">{{ post.title }}</h5>
              </a>
                <p class="card-text">{{ post.caption }}</p>
                <p class="card-time"><small>By {{ post.user.full_name }} on {{ post.friendly_date }}</small></p>
                {% if user.id == g.user.id %}
              <form method="POST" action="/posts/{{ post.id }}/like" class="posts-like">
                <button class="btn btn-sm {{'btn-primary'}}"><i class="fa fa-thumbs-up"></i></button>
              </form>
              {% endif %}
              {% endfor %}
                <button id="like-btn"><a href="/posts/{{ post.id }}/favorite" style="text-decoration: none;">⭐️</a></button>
                <button id="shop-btn"><a href='{{ post.purchase_url }}' target="_blank" style="text-decoration: none;">🛍</a></button>
              </div>
            </div>
        {% else %}
        <div class="col-12">No posts yet.</div>
        {% endfor %}
  </div>

{% endblock %}


