{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
  <h1 class="display-4">Register</h1>
</div>

<div class="d-flex justify-content-center">
  <p class="lead">Sign up here.</p>
</div>

<div class="d-flex justify-content-center">

  <form method="POST">
  
    {{ form.hidden_tag() }}
  
    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}
  
      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </p>
    {% endfor %}


      <button type="submit">Register</button>

  
  
  </form>
</div>

{% endblock %}
